h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: "gilroy-bold";
  .light,
  &.light {
    font-family: "gilroy-light";
  }
}

.btn-green{
  background-color: #38947d;
    border-color: #38947d;
    color: #fff;
    position: relative;
    font-size: 19.66px;
    padding: 15px 55px 15px 35px;
    transition: all 0.5s ease;

  &:hover{
    background-color: #236152;
    border-color: #236152;
    color: #fff;
  }
}

.btn{
  &.btn-white{
    position: relative;
    font-family: "gilroy-semibold";
    padding: 0.5rem 48px 0.5rem 34px;
    background-color: #fff;
    border-color: #fff;
    color: #000;
    transition: all 0.5s ease;
    &:hover{
      background-color: #d7d7d7;
      border-color: #d7d7d7;
    }
  }
}
