.nav{
    &-item{
        &-link.dropdown-toggle{
            color: #000 !important;
            font-family: "gilroy-semibold";
            font-size: 13.93px;
        }
        &-link{
            font-family: "gilroy-semibold";
            font-size: 13.93px;
            color: #545454 !important;
        }
    }
    &bar-mobi-header{
        display: none;
    }
}

.topHeader {
    padding: 35px 24px 35px 60px;
}
.dropdown-toggle::after {
    border-color: #fff;
}
.searchBar{
    width: 338px !important;
    border-radius: 20px;
    height: 44px;
    font-size: 15px;
    font-family: 'gilroy-light';
}
.topHeader form{
    position: relative;
}
.searchIcon {
    position: absolute;
    right: 24px;
}
.cartIcon{
    margin-left: 20px;
    margin-right: 25px;
    cursor: pointer;
}
.loginIcon {
    margin-right: 15px;
    padding-right: 25px;
    border-right: 1px solid #e0e0e0;
}
.phoneCallIcon {
    margin-right: 15px;
}
.phoneNumber{
    display: flex;
    flex-direction: column;
}
.phoneNumberText{
    font-size: 14.28px;
    font-family: 'gilroy-bold';
    
    a{
        color: #000;
        text-decoration: none;
    }
}
.dailyTimings{
    font-size: 11.22px;
}

.plusSign{
    position: absolute;
    width: 8px;
    height: 8px;
    top: calc(50% - 4px);
    right: 9px;

    &:before,
    &:after{
        content: "";
        position: absolute;
        background-color: #000;
        transition: transform 0.25s ease-out;
    }

    /* Vertical line */
    &:before{
        top: -1px;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    }

    /* horizontal line */
    &:after{
        top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -2px;
    }
    
    // &:hover{
    //     cursor: pointer;
        
    //     &:before{ transform: rotate(90deg); }
    //     &:after{ transform: rotate(180deg); }
    // }
}

@media all and (min-width: 320px) and (max-width:425px) {
    .navbar-brand img{width: 130px;}
}

@media all and (max-width: 1023px) {
    .searchBar{
        width: 100% !important;
    }
    .topHeader {
        padding: 15px 80px 15px 10px;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .navbar-light .navbar-toggler {
        color: #000;
        border-color: transparent;
    }
    .navbar-mobi-header{
        display: block;
        position: absolute;
        right: 0;
        top: 28px;

        .searchIcon{
            position: initial;
            right: auto;
        }
    }
    // #searchIcon{
    //     &.active img {
    //         display: none;
    //     }
    //     &.active::before {
    //         content: 'X';
    //         color: #000;
    //         font-size: 30px;
    //         font-weight: 300;
    //         font-family: 'gilroy-regular';
    //         position: absolute;
    //         top: -8px;
    //         left: -22px;
    //     }
    // }
}

.search-close {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 27px;
    height: 40px;
    margin-right: 21px;
    &:after {
        content: "";
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        height: 2px;
        background: #000;
        border-radius: 4px;
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:before {
        content: "";
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        height: 2px;
        background: #000;
        border-radius: 4px;
    }
    &:before {
        transform: rotate(45deg);
    }
}

@media all and (min-width: 1024px) and (max-width:1439px) {
    .searchBar {
        width: auto !important;
    }
    .topHeader {
        padding: 35px 24px 35px 20px;
    }
}
@media all and (min-width: 1024px) and (max-width:1200px) {
    .phoneCallIcon{
        display: none;
    }
}

#searchbox {
    position: absolute;
    z-index: 9;
    width: 100%;
    // position: relative;
    background: #F2F2F2;
    // width: calc(100% - 45px);
    // margin: 0 auto 20px auto;
    overflow: hidden;
    height: 0px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s ease;
    display: flex;
    vertical-align: middle;
    align-items: center;
    &.show {
        animation: reveal-search ease .75s forwards;
        height: 52px;
      }
    
      &.hide { animation: hide-search ease .25s forwards;margin: 0;}

      input {
        width: 100%;
        line-height: 80px;
        font-size: 23px;
        max-height: 52px;
        border: 0;
        color: #B2AFAF;
        padding-left: 20px;
        background: transparent;
        font-family: 'gilroy-regular';

        &:focus {
            outline: 0;
          }
          &:-moz-placeholder {
            color: #bfbfbf;
          }
          &::-moz-placeholder {
            color: #bfbfbf;
          }
          &:-ms-input-placeholder {
            color: #bfbfbf;
          }
          &::-webkit-input-placeholder {
            color: #bfbfbf;
          }
      }
}
@keyframes reveal-search {
    0% {
      height: 0;
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    50% {
      height: 80px;
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    100% {
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
    }
  }
  @keyframes hide-search {
    0% {
      height: 80px;
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
    100% {
      height: 0;
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }