.socialIcon {
  background: url("../images/social-media.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px;
  width: 28px;
  display: inline-block;
  background-size: 180px auto;
  &-fb {
    background-position: 0 0;
  }
  &-twitter {
    background-position: -26px 0;
  }
  &-youtube {
    background-position: -54px 0;
  }
  &-instagram {
    background-position: -82px 0;
  }
}
