<section class="subscribe-wrap" id="subscribe-wrap" data-pointer-events="true" data-hover-only="true">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 col-lg-8">

                <div class="subscribe-block">

                    <img src="../images/subscribeIcon.png" width="90" class="mb-4" alt="">

                    <h2>
                        <spna class="light">We will</spna> keep you informed!
                    </h2>
                    <h3 class="light">Subscribe to our monthly newsletter.</h3>

                    <div class="subscribe-block_form">
                        <input type="email" class="form-control" id="emailAddress" placeholder="Your Email Address">
                        <button type="submit" class="btn btn-blue">Subscribe</button>
                    </div>

                    <p>
                        <small>Your data is safe with us and will not be passed on to third parties.</small>
                    </p>

                </div>

            </div>
        </div>
    </div>
    <div class="leaf leaf-1" data-depth="0.2"></div>
    <div class="leaf leaf-2" data-depth="0.2"></div>
    <div class="leaf leaf-3" data-depth="0.2"></div>
    <div class="leaf leaf-4" data-depth="0.2"></div>

</section>

<footer class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row footer-top_wrap">

                <div class="col-md-12">
                    <div class="row footer-top-mobi_slider">
                        <div class="col-md-3 col-lg-3 footer-top_iconBlock">
                            <img src="../images/outstandingIcon.png" alt="" width="80">
                            <div class="footer-top_content_wrapper">
                                <h6>Outstanding</h6>
                                <p>
                                    <small>633+ customers have declared us</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 footer-top_iconBlock">
                            <img src="../images/priceMatchIcon.png" alt="" width="80">
                            <div class="footer-top_content_wrapper">
                                <h6>Our price match promise</h6>
                                <p>
                                    <small>We will beat or match other retailers</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 footer-top_iconBlock">
                            <img src="../images/ukDeliveryIcon.png" alt="" width="80">
                            <div class="footer-top_content_wrapper">
                                <h6>Free UK delivery on orders over £35</h6>
                                <p>
                                    <small>Save on postage today</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 footer-top_iconBlock">
                            <img src="../images/dataProtactionIcon.png" alt="" width="80">
                            <div class="footer-top_content_wrapper">
                                <h6>Customer Data Protection</h6>
                                <p>
                                    <small>Your data is safe and secure with us</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-middle">
        <div class="container">
            <div class="row footer-middle_Wrap">
                <div class="col-sm-12 col-md-4 footer-middle_textBlockWrap">
                    <div class="footer-middle_textBlockWrap">
                        <p>* Individual effects or results may vary. It is
                            important to note that the content on our
                            website should not be considered medical
                            advice. Please read the entire disclaimer here
                            before using the website, making a purchase
                            on this site or relying on the content published
                            within it or within any of our products.</p>



                        <div class="selectlg">
                            <div id="countryCombo" class="sel-lang">
                                <i class="flagSprite flagSprite-uk"></i> English
                            </div>

                            <ul class="countyList" id="all_county_list">
                                <li id="re_en" style="display:none;"><a href="javascript:void(0);"><i
                                            class="flagSprite flagSprite-uk"></i> English</a></li>
                                <li id="re_fr"><a href="javascript:void(0);"><i class="flagSprite flagSprite-fr"></i>
                                        Français</a>
                                </li>
                                <li id="re_de"><a href="javascript:void(0);"><i class="flagSprite flagSprite-de"></i>
                                        Deutsch</a>
                                </li>
                                <li id="re_ne"><a href="javascript:void(0);"><i class="flagSprite flagSprite-nl"></i>
                                        Nederlands</a>
                                </li>
                                <li id="re_it"><a href="javascript:void(0);"><i class="flagSprite flagSprite-it"></i>
                                        Italiano</a>
                                </li>
                                <li id="re_es"><a href="javascript:void(0);"><i class="flagSprite flagSprite-es"></i>
                                        Español</a>
                                </li>
                                <li id="re_sv"><a href="javascript:void(0);"><i class="flagSprite flagSprite-se"></i>
                                        Svenska</a>
                                </li>
                                <li id="re_no"><a href="javascript:void(0);"><i class="flagSprite flagSprite-no"></i>
                                        Norsk</a></li>
                                <li id="re_da"><a href="javascript:void(0);"><i class="flagSprite flagSprite-dk"></i>
                                        Dansk</a></li>
                                <li id="re_su"><a href="javascript:void(0);"><i class="flagSprite flagSprite-fi"></i>
                                        Suomi</a></li>
                                <li id="re_po"><a href="javascript:void(0);"><i id="re_flag_pt"
                                            class="flagSprite flagSprite-pt re_flag_pt"></i> Português</a></li>
                                <li id="re_br"><a href="javascript:void(0);"><i id="re_flag_br"
                                            class="flagSprite flagSprite-br re_flag_br"></i> Português</a></li>
                            </ul>
                        </div>






                        <ul class="footer-middle_socialList">
                            <li>
                                <a href="">
                                    <i class="socialIcon socialIcon-fb"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="socialIcon socialIcon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="socialIcon socialIcon-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="socialIcon socialIcon-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 footer-middle_menuWrap">
                    <h6>COMPANY INFO</h6>
                    <ul class="footer-middle_menu">
                        <li>
                            <a href="">About Us</a>
                        </li>
                        <li>
                            <a href="">Trustpilot Reviews</a>
                        </li>
                        <li>
                            <a href="">Careers</a>
                        </li>
                        <li>
                            <a href="">Sitemap</a>
                        </li>
                        <li>
                            <a href="">Affiliate Program</a>
                        </li>
                        <li>
                            <a href="">Global Websites</a>
                        </li>
                        <li>
                            <a href="">Become an Ambassador</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 footer-middle_menuWrap">
                    <h6>SUPPORT</h6>
                    <ul class="footer-middle_menu">
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                        <li>
                            <a href="">Returns</a>
                        </li>
                        <li>
                            <a href="">Delivery</a>
                        </li>
                        <li>
                            <a href="">Ways to Pay</a>
                        </li>
                        <li>
                            <a href="">FAQs</a>
                        </li>
                        <li>
                            <a href="">Members Area</a>
                        </li>
                        <li>
                            <a href="">Track Your Parcel</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 footer-middle_menuWrap">
                    <h6>LEGAL INFO</h6>
                    <ul class="footer-middle_menu">
                        <li>
                            <a href="">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Consumer Rights</a>
                        </li>
                        <li>
                            <a href="">Disclaimer</a>
                        </li>
                        <li>
                            <a href="">Legal Info</a>
                        </li>
                        <li>
                            <a href="">Money Back Guarantee</a>
                        </li>
                    </ul>
                </div>
                <div class="mobilesocialMedia"></div>
            </div>
        </div>
    </div>



    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyrightBlock">
                    <p><img src="../images/cc-logo.png" alt=""> © 2020 Comfort Click Ltd | Company Number 05614133 | VAT
                        GB887819940</p>
                </div>
                <div class="col-md-6 paymentBlock">
                    <img src="../images/payment-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

</footer>