<header class="topHeader" id="navi">
    <div id="searchbox" class="search-box hide">
        <input id="search-input" type="text" placeholder="Search..." />
        <div class="search-close"></div>
    </div>
    <nav class="navbar navbar-full navbar-expand-lg navbar-light">
        <button class="burger burger--spin" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="burger__bar"></span>
            <span class="burger__bar"></span>
            <span class="burger__bar"></span>
        </button>

        <div class="navbar-mobi-header">
            <span id="searchIcon" class="searchIcon"><img src="images/search-icon.png" /></span>
            <span class="cartIcon"><img src="images/cart-icon.png" alt="Cart Icon" /></span>
            <a href="tel:02033227970" title="Mon - Fri 8am to 6pm"><span class="phoneCallIcon"><img
                        src="images/phone-call-icon.png" alt="Phone Call Icon" /></span></a>
        </div>
        <a class="navbar-brand" href="/"><img src="images/weightworld-logo.jpg" /></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-item-link" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SUPERFOODS <div class="plusSign"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-item-link" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        WELLBEING <div class="plusSign"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-item-link" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        WEIGHT LOSS <div class="plusSign"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-item-link" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FITNESS <div class="plusSign"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-item-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        DIETARY NEEDS <div class="plusSign"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link nav-item-link" href="#">ARTICLES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item-link" href="#">NEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item-link" href="#">OFFERS</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Try “Immune”...."
                    aria-label="Search">
                <span id="searchIcon" class="searchIcon"><img src="images/search-icon.png" /></span>
            </form>
            <span class="cartIcon"><img src="images/cart-icon.png" alt="Cart Icon" /></span>
            <span class="loginIcon"><img src="images/login-icon.png" alt="Login Icon" /></span>
            <a href="tel:02033227970" title="Mon - Fri 8am to 6pm"><span class="phoneCallIcon"><img
                        src="images/phone-call-icon.png" alt="Phone Call Icon" /></span></a>
            <span class="phoneNumber">
                <small class="phoneNumberText"><a href="tel:02033227970">0203 322 7970</a></small>
                <small class="dailyTimings">Mon - Fri 8am to 6pm</small>
            </span>
        </div>
    </nav>
</header>