.topBelt {
  background: #99c355;
  padding: 14px 0;
}
.topBelt .topBeltInnerWrapper {
  margin: 0 auto;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-align: center;
}
.topBelt .topBeltInnerWrapper a {
  color: #fff;
  text-decoration: none;
}

.bSlider .bSliderImageWrapper {
  background-size: cover !important;
  position: relative;
  min-width: 100vw;
  float: left;
}
.bSlider ul {
  list-style-type: none;
}
.bSlider ul.slick-dots {
  position: absolute;
  bottom: 13px;
  right: 79px;
}
.bSlider ul.slick-dots li button {
  margin-left: 10px;
  width: 42px;
  height: 6px;
  font-size: 0;
  border: 0;
  border-radius: 15px;
  background: #fff;
}
.bSlider ul.slick-dots li {
  float: left;
}
.bSlider ul.slick-dots li.slick-active button {
  background: #9db7b8;
}

@media all and (max-width: 767px) {
  .bSlider .bSliderImageWrapper {
    min-height: 70vh;
  }
}
.fARightArrow {
  margin-left: 7px;
  font-size: 19px;
  position: absolute;
  top: 17px;
  right: 22px;
}

.newArrivalWrapper {
  background: #f4f4f4;
  padding: 55px 0 80px 0;
}
.newArrivalWrapper .newArrivalCard {
  margin: 0 10px;
}
.newArrivalWrapper .newSliderMainInner {
  background-size: cover !important;
  min-height: 375px;
  border-radius: 20px;
}
.newArrivalWrapper .newSliderContentWrapper {
  text-align: center;
  padding-top: 20px;
}
.newArrivalWrapper .newSliderContentWrapper .sliderImageTitle {
  font-family: "gilroy-medium";
  font-size: 1.15rem;
  margin-bottom: 15px;
}
.newArrivalWrapper .newSliderContentWrapper .sliderImagePrice {
  font-family: "gilroy-bold";
  font-size: 23px;
  color: #1e53a0;
  margin-bottom: 16px;
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-next {
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-next {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
  transform: rotate(135deg);
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-prev {
  position: absolute;
  top: 50%;
  left: -41px;
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-prev {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #f4f4f4;
  border-left: 2px solid #f4f4f4;
  transform: rotate(135deg);
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-prev.slick-disabled {
  border-bottom: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-next.slick-disabled {
  border-top: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
}

@media all and (max-width: 767px) {
  .newArrivalWrapper {
    padding: 25px 0 40px 0;
  }

  .newArrivalSlider {
    padding: 0 15px;
  }
  .newArrivalSlider .newSliderMainInner {
    min-height: 330px;
    max-width: 250px;
  }
  .newArrivalSlider .newSliderContentWrapper {
    max-width: 250px;
  }
}
.rangeSlider {
  background: #f4f4f4;
  padding: 55px 0 80px 0;
}
.rangeSlider .rangeSliderMainInner {
  background-size: cover !important;
  min-height: 300px;
  border-radius: 20px;
}
.rangeSlider .rangeSliderCard {
  margin: 0 10px;
}
.rangeSlider .rangeSliderImageTitle {
  font-family: "gilroy-medium";
  font-size: 22px;
  text-align: center;
  margin-top: 18px;
}
.rangeSlider .rangeSliderCarousel .slick-next {
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
}
.rangeSlider .rangeSliderCarousel .slick-next {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
  transform: rotate(135deg);
}
.rangeSlider .rangeSliderCarousel .slick-prev {
  position: absolute;
  top: 50%;
  left: -41px;
}
.rangeSlider .rangeSliderCarousel .slick-prev {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #f4f4f4;
  border-left: 2px solid #f4f4f4;
  transform: rotate(135deg);
}
.rangeSlider .rangeSliderCarousel .slick-prev.slick-disabled {
  border-bottom: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
}
.rangeSlider .rangeSliderCarousel .slick-next.slick-disabled {
  border-top: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
}

@media all and (max-width: 767px) {
  .rangeSlider {
    padding: 25px 0 40px 0;
  }

  .rangeSliderContainer {
    padding: 0 15px;
  }

  .rangeSlider .rangeSliderMainInner {
    min-height: 250px;
    width: 250px;
  }
}
.suppYouCanTrust {
  padding: 55px 0 80px 0;
}

.suppContentWrapper {
  text-align: center;
}
.suppContentWrapper .suppMainTitle {
  font-size: 64.29px;
  font-family: "gilroy-light";
  margin-bottom: 30px;
}
.suppContentWrapper .suppSubTitle {
  font-size: 26.76px;
  font-family: "gilroy-medium";
  margin-bottom: 30px;
}
.suppContentWrapper .suppContent {
  font-size: 17.14px;
  font-family: "gilroy-medium";
  margin-bottom: 60px;
}

.suppImageWrapper {
  text-align: center;
}
.suppImageWrapper .suppImage {
  min-height: 57px;
  border-radius: 20px;
}
.suppImageWrapper .suppContent {
  font-size: 17.14px;
  font-family: "gilroy-medium";
  margin-top: 35px;
}

@media all and (max-width: 767px) {
  .suppYouCanTrust {
    padding: 25px 0 40px 0;
  }

  .suppContentWrapper .suppContent {
    margin-bottom: 30px;
  }
  .suppContentWrapper .suppSubTitle {
    font-size: 26.76px;
    font-family: "gilroy-medium";
    margin-bottom: 20px;
  }

  .suppImageWrapper {
    margin-bottom: 20px;
  }

  .suppImageWrapper .suppContent {
    margin-top: 15px;
  }
}
.customerImage {
  background: #f4f4f4;
  padding: 55px 0 80px 0;
}
.customerImage .customerImageSliderMainInner {
  background-size: cover !important;
  min-height: 375px;
  min-width: 295px;
  border-radius: 20px;
}
.customerImage .customerImageSliderCard {
  margin: 0 10px;
}
.customerImage .green-color {
  color: #99c355 !important;
}
.customerImage h2 {
  font-size: 43px;
  margin-bottom: 80px;
}

@media all and (max-width: 1200px) {
  h2 {
    font-size: 24.575px !important;
    margin-bottom: 40px !important;
  }
}
.latestArtical {
  padding: 55px 0 80px 0;
}
.latestArtical a {
  color: #000;
  text-decoration: none;
}
.latestArticalMainTitle {
  margin-bottom: 40px;
}
.latestArticalImageWrapper {
  background-size: cover !important;
  min-height: 330px;
  border-radius: 20px;
}
.latestArticalTextWrapper {
  margin-top: 24px;
}
.latestArticalTitle {
  margin-top: 15px;
}

@media all and (max-width: 767px) {
  .latestArtical {
    padding: 25px 0 40px 0;
  }
  .latestArticalContentWrapper {
    margin-bottom: 30px;
  }
}
.customerReview {
  margin-top: 60px;
}
.customerReviewLeftSectionTitle {
  font-size: 21.43px;
  font-family: "gilroy-medium";
  margin-bottom: 25px;
}
.customerReviewLeftSection {
  background: #f0f0f0;
  border-radius: 0 20px 20px 0;
  padding: 110px 0;
}
.customerReviewLeftSection::before {
  content: "";
  position: absolute;
  right: 100%;
  width: 100vw;
  top: 0;
  bottom: 0;
  background: #f0f0f0;
}
.customerReviewTitle {
  font-size: 53.57px;
  width: 52%;
  text-align: center;
  margin-top: 8px;
}
.customerReviewSliderWrapper {
  background: #fafafc;
  padding: 35px;
  border-radius: 20px;
  margin: 0 10px;
  min-width: 400px;
}
.customerReviewCardContent {
  margin-top: 20px;
}
.customerReviewCardTitle {
  margin-top: 25px;
  font-size: 21.43px;
}
.customerReviewSlider {
  background-color: transparent;
  padding-left: 36.5%;
  transform: translateY(-150%);
}

.trustPilotLogo {
  margin-left: 11%;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .customerReviewLeftSection {
    min-width: 100%;
    border-radius: 0;
  }
  .customerReviewSlider {
    background-color: transparent;
    padding-left: 3%;
    transform: translateY(-50%);
  }
}
.trustpilotBelt {
  padding: 50px 0;
  text-align: center;
}
.trustpilotBeltWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trustpilotBeltLogo {
  margin-top: -7px;
  padding-right: 17px;
  border-right: 1px solid #e0e0e0;
}
.trustpilotBeltText {
  font-size: 21.43px;
  font-family: "gilroy-light";
  margin-left: 17px;
}
.trustpilotBeltText .dark {
  font-family: "gilroy-bold";
}

@media all and (max-width: 767px) {
  .trustpilotBeltText {
    margin-left: auto;
    display: block;
    padding: 0 30px;
    margin-top: 10px;
  }
  .trustpilotBeltWrapper {
    display: block;
  }
  .trustpilotBeltLogo {
    margin-top: -7px;
    padding-right: 17px;
    border-right: none;
  }
}
.bestSeller {
  padding: 55px 0 80px 0;
}
.bestSeller h2 {
  color: #fff;
}

.greenBackground {
  background-color: #84ac89;
}