.topBelt {
  background: #99c355;
  padding: 14px 0;
}
.topBeltInnerWrapper {
  margin: 0 auto;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-family: "gilroy-semibold";
}
.topBeltInnerWrapper a {
  color: #fff;
  text-decoration: none;
}

.bSliderImageWrapper {
  background-size: cover !important;
  position: relative;
  min-width: 100vw;
  float: left;
}
.bSlider ul {
  list-style-type: none;
}
.bSlider ul.slick-dots {
  position: absolute;
  bottom: 13px;
  right: 79px;
}
.bSlider ul.slick-dots li {
  float: left;
}
.bSlider ul.slick-dots li button {
  margin-left: 10px;
  width: 42px;
  height: 6px;
  font-size: 0;
  border: 0;
  border-radius: 15px;
  background: #fff;
}
.bSlider ul.slick-dots li.slick-active button {
  background: #9db7b8;
}

@media all and (max-width: 767px) {
  .bSlider .bSliderImageWrapper {
    min-height: 70vh;
  }
}
.contentContainer {
  font-family: "gilroy-light";
  font-size: 17.14px;
}

.fARightArrow {
  margin-left: 7px;
  font-size: 19px;
  position: absolute;
  top: 11px;
  right: 22px;
}

.newArrivalWrapper {
  background: #f4f4f4;
  padding: 55px 0 80px 0;
}
.newArrivalWrapper .btn {
  color: #fff;
  position: relative;
  padding: 0.5rem 3rem 0.5rem 1rem;
}
.newArrivalWrapper .newArrivalCard {
  margin: 0 10px;
}
.newArrivalWrapper .newSliderMainInner {
  background-size: cover !important;
  min-height: 375px;
  border-radius: 20px;
}
.newArrivalWrapper .newSliderContentWrapper {
  text-align: center;
  padding-top: 20px;
}
.newArrivalWrapper .newSliderContentWrapper p {
  font-size: 15px;
  font-family: "gilroy-regular";
}
.newArrivalWrapper .newSliderContentWrapper .sliderImageTitle {
  font-family: "gilroy-medium";
  font-size: 18.21px;
  margin-bottom: 15px;
}
.newArrivalWrapper .newSliderContentWrapper .sliderImagePrice {
  font-family: "gilroy-bold";
  font-size: 22.54px;
  color: #1e53a0;
  margin-bottom: 16px;
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-next {
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-next {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
  transform: rotate(135deg);
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-prev {
  position: absolute;
  top: 50%;
  left: -41px;
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-prev {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #f4f4f4;
  border-left: 2px solid #f4f4f4;
  transform: rotate(135deg);
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-prev.slick-disabled {
  border-bottom: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
}
.newArrivalWrapper .newArrivalsSliderContainer .slick-next.slick-disabled {
  border-top: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
}

@media all and (max-width: 767px) {
  .newArrivalWrapper {
    padding: 25px 0 40px 0;
  }
  .newArrivalWrapper .newArrivalCard {
    max-width: 250px;
  }
  .newArrivalSlider {
    padding: 0 15px;
  }
  .newArrivalSlider .newSliderMainInner {
    min-height: 330px;
  }

  .btn-green {
    font-size: 15.66px;
    padding: 8px 35px 8px 15px;
  }

  .fARightArrow {
    top: 9px;
    right: 20px;
    font-size: 20px;
  }
}
.rangeSlider {
  background: #fff;
  padding: 130px 0 80px 0;
}
.rangeSliderMainInner {
  background-size: contain !important;
  min-height: 300px;
  border-radius: 20px;
}
.rangeSliderCard {
  margin: 0 10px;
}
.rangeSliderImageTitle {
  font-family: "gilroy-medium";
  font-size: 22px;
  text-align: center;
  margin-top: 18px;
}
.rangeSliderCarousel .slick-next {
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
}
.rangeSliderCarousel .slick-next {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(135deg);
}
.rangeSliderCarousel .slick-prev {
  position: absolute;
  top: 50%;
  left: -41px;
}
.rangeSliderCarousel .slick-prev {
  display: block;
  font-size: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  transform: rotate(135deg);
}
.rangeSliderCarousel .slick-prev.slick-disabled {
  border-bottom: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
}
.rangeSliderCarousel .slick-next.slick-disabled {
  border-top: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .rangeSlider {
    padding: 55px 0 80px 0;
  }
}
@media all and (max-width: 767px) {
  .rangeSlider {
    padding: 25px 0 40px 0;
  }
  .rangeSliderContainer {
    padding: 0 15px;
  }
  .rangeSlider .rangeSliderMainInner {
    min-height: 250px;
    width: 250px;
  }
}
.suppDevice {
  display: contents;
}
.suppMobi {
  display: none;
}
.suppYouCanTrust {
  padding: 55px 0 80px 0;
}
.suppContentWrapper {
  text-align: center;
}
.suppContentWrapper .suppMainTitle {
  font-size: 64.29px;
  font-family: "gilroy-light";
  margin-bottom: 30px;
}
.suppContentWrapper .suppSubTitle {
  font-size: 26.76px;
  font-family: "gilroy-medium";
  margin-bottom: 30px;
}
.suppContentWrapper .suppContent {
  font-size: 17.14px;
  font-family: "gilroy-medium";
  margin-bottom: 60px;
}
.suppImageWrapper {
  text-align: center;
}
.suppImageWrapper .suppImage {
  min-height: 57px;
  border-radius: 20px;
  background-size: contain !important;
}
.suppImageWrapper .suppContent {
  font-size: 17.14px;
  font-family: "gilroy-medium";
  margin-top: 35px;
}

@media all and (max-width: 767px) {
  .suppDevice {
    display: none;
  }
  .suppMobi {
    display: block;
  }
  .suppYouCanTrust {
    padding: 25px 0 40px 0;
  }
  .suppContentWrapper .suppContent {
    margin-bottom: 30px;
  }
  .suppContentWrapper .suppSubTitle {
    font-size: 26.76px;
    font-family: "gilroy-medium";
    margin-bottom: 20px;
  }
  .suppContentWrapper .suppMainTitle {
    font-size: 39.98px;
  }
  .suppContentWrapper .suppContent {
    margin-bottom: 30px;
  }
  .suppContentWrapper .suppSubTitle {
    font-size: 26.76px;
    font-family: "gilroy-medium";
    margin-bottom: 20px;
  }
  .suppContentWrapper .suppMainTitle {
    font-size: 39.98px;
  }
  .suppContentWrapper .suppContent {
    margin-bottom: 30px;
  }
  .suppContentWrapper .suppSubTitle {
    font-size: 26.76px;
    font-family: "gilroy-medium";
    margin-bottom: 20px;
  }
  .suppContentWrapper .suppMainTitle {
    font-size: 39.98px;
  }
  .suppImageWrapper {
    margin: auto 5px 20px 5px;
  }
  .suppImageWrapper .suppContent {
    margin-top: 15px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .suppContentWrapper .suppMainTitle {
    font-size: 50.29px !important;
  }
}
.customerImage {
  background: #f4f4f4;
  padding: 55px 0 80px 0;
}
.customerImage .customerImageSliderMainInner {
  background-size: cover !important;
  min-height: 375px;
  min-width: 295px;
  border-radius: 20px;
}
.customerImage .customerImageSliderCard {
  margin: 0 10px;
}
.customerImage .green-color {
  color: #99c355 !important;
}
.customerImage h2 {
  font-size: 43px;
  margin-bottom: 80px;
}

@media all and (max-width: 1200px) {
  .customerImage h2 {
    font-size: 24.575px !important;
    margin-bottom: 40px !important;
  }
}
@media all and (max-width: 767px) {
  .customerImage .customerImageSliderMainInner {
    min-height: 267px;
    min-width: 206px;
  }
}
.latestArtical {
  padding: 55px 0 80px 0;
}
.latestArticalSliderContainer {
  display: none;
}
.latestArticalContainer {
  display: block;
}
.latestArtical a {
  color: #000;
  text-decoration: none;
}
.latestArticalSubText {
  font-size: 15px;
  font-family: "gilroy-regular";
}
.latestArticalMainTitle {
  margin-bottom: 40px;
}
.latestArticalImageWrapper {
  background-size: cover !important;
  min-height: 330px;
  border-radius: 20px;
}
.latestArticalTextWrapper {
  margin-top: 24px;
}
.latestArticalTitle {
  margin-top: 15px;
  font-size: 21.43px;
  font-family: "gilroy-medium";
}

@media all and (max-width: 767px) {
  .latestArtical {
    padding: 25px 0 0 0;
  }
  .latestArticalSliderContainer {
    display: block;
  }
  .latestArticalContainer {
    display: none;
  }
  .latestArticalContentWrapper {
    margin-bottom: 30px;
  }
}
@media all and (max-width: 767px) {
  .latestArtical {
    margin: 0 0 0 15px;
  }
  .latestArticalContentWrapper {
    margin-left: 10px;
    max-width: 250px;
  }
}
.customerReview {
  margin-top: 60px;
}
.customerReviewLeftSectionTitle {
  font-size: 21.43px;
  font-family: "gilroy-semibold";
  margin-bottom: 25px;
}
.customerReviewLeftSection {
  background: #f0f0f0;
  border-radius: 0 20px 20px 0;
  padding: 110px 0;
}
.customerReviewLeftSection::before {
  content: "";
  position: absolute;
  right: 100%;
  width: 100vw;
  top: 0;
  bottom: 0;
  background: #f0f0f0;
}
.customerReviewTitle {
  font-size: 53.57px;
  width: 52%;
  text-align: center;
  margin-top: 8px;
  font-family: "gilroy-semibold";
}
.customerReviewSliderWrapper {
  background: #fafafc;
  padding: 35px;
  border-radius: 20px;
  margin: 0 10px;
  min-width: 400px;
}
.customerReviewCardContent {
  margin-top: 20px;
}
.customerReviewCardTitle {
  margin-top: 25px;
  font-size: 21.43px;
}
.customerReviewSlider {
  background-color: transparent;
  padding-left: 36.5%;
  transform: translateY(-125%);
}
.customerReviewDetailImage {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.customerReviewVerifiedWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.customerReviewDetailName {
  font-size: 19.29px;
  font-family: "gilroy-bold";
  position: relative;
}
.customerReviewDetailName::after {
  content: "";
  width: 13px;
  height: 18px;
  background: url(/images/verified-sign.png) no-repeat center;
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 5px;
  margin-left: 7px;
}
.customerReviewDetailVerified {
  font-size: 12.86px;
  font-family: "gilroy-light";
}
.customerReviewDetail {
  margin-top: 50px;
}

.trustPilotLogo {
  margin-left: 11%;
}

@media all and (max-width: 1023px) {
  .customerReview {
    background: #f0f0f0;
  }
  .customerReviewLeftSection {
    min-width: 100%;
    border-radius: 0;
    text-align: center;
  }
  .customerReviewSlider {
    background-color: transparent;
    padding-left: 3%;
    transform: translateY(-30%);
  }
  .customerReviewTitle {
    font-size: 53.57px;
    width: auto;
  }
  .customerReview .trustPilotLogo {
    margin-left: auto;
  }
  .customerReviewLeftSection {
    background: none;
    padding: 55px 15px 125px 15px;
  }
  .customerReviewLeftSection::before {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .customerReview {
    margin-top: 0;
  }
  .customerReviewDetail {
    margin-top: 20px;
  }
  .customerReviewSliderWrapper {
    padding: 25px;
    min-width: 300px;
  }
  .customerReviewCardTitle {
    margin-top: 15px;
  }
  .customerReviewCardContent {
    margin-top: 10px;
  }
  .customerReviewTitle {
    font-size: 35.57px;
  }
  .customerReviewLeftSectionTitle {
    margin-bottom: 21px !important;
  }
  .customerReviewLeftSection {
    background: none;
    padding: 38px 15px 100px 15px;
  }
}
.trustpilotBelt {
  padding: 50px 0;
  text-align: center;
}
.trustpilotBeltWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trustpilotBeltLogo {
  margin-top: -7px;
  padding-right: 17px;
  border-right: 1px solid #e0e0e0;
}
.trustpilotBeltText {
  font-size: 21.43px;
  font-family: "gilroy-light";
  margin-left: 17px;
}
.trustpilotBeltText .dark {
  font-family: "gilroy-bold";
}

@media all and (max-width: 767px) {
  .trustpilotBelt {
    padding: 15px 0;
    text-align: center;
  }
  .trustpilotBeltText {
    margin-left: auto;
    display: block;
    padding: 0 30px;
    margin-top: 10px;
  }
  .trustpilotBeltWrapper {
    display: block;
  }
  .trustpilotBeltLogo {
    margin-top: -7px;
    padding-right: 17px;
    border-right: none;
  }
}
.bestSeller {
  padding: 55px 0 80px 0;
  height: 649px;
  position: relative;
  pointer-events: auto !important;
  transition: all 0.8s;
}
.bestSellerContainer {
  position: relative !important;
}
.bestSellerLeaf {
  position: absolute;
  background-image: url(../images/best-seller-leaf.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 626px;
  width: 973px;
  top: 64px !important;
  left: auto !important;
  right: 40px;
  z-index: -2;
  filter: blur(3px);
}
.bestSeller h2 {
  color: #fff;
}
.bestSellerSlider {
  width: 100%;
  margin-top: 39px;
  z-index: 10;
}
.bestSellerSliderItemText {
  font-size: 17.14px;
  font-family: "gilroy-medium";
}
.bestSellerSliderContentWrapper {
  width: 40%;
  display: table-cell;
  color: #fff;
  vertical-align: top;
  padding-top: 60px;
}
.bestSellerSliderImageWrapper {
  display: table-cell;
}
.bestSellerSliderImageWrapper img {
  float: right;
}
.bestSellerSliderItemValue {
  font-size: 53.51px;
  font-family: "gilroy-light";
  float: left;
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin-right: 20px;
}
.bestSellerSliderOldValueContainer {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  border-left: 1px solid;
  padding-left: 15px;
}
.bestSellerSliderOldItemValue {
  text-decoration: line-through;
  font-size: 23.57px;
  font-family: "gilroy-light";
}
.bestSellerSliderSaveText {
  font-family: "gilroy-regular";
  font-size: 19.29px;
}
.bestSellerTag {
  font-family: "gilroy-light";
  font-size: 34.29px;
}

.bestSeller h2.bestSellerSliderImageText {
  font-family: "gilroy-extrabold";
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .bestSellerLeaf {
    display: none !important;
  }
  .bestSellerSliderImageWrapper img {
    width: 185px;
    float: none;
    margin: 0 auto;
  }
  .bestSellerSliderContentWrapper {
    width: 50%;
    padding-top: 0;
  }
}
.customSlickDots {
  width: 100%;
  text-align: center;
  margin-top: 27px;
  z-index: 11;
}
.customSlickDots ul {
  list-style-type: none;
}
.customSlickDots ul li {
  display: inline;
  font-size: 17.14px;
  font-family: "gilroy-light";
  margin: 0 20px;
}
.customSlickDots ul li.slick-active button {
  text-decoration: underline;
}
.customSlickDots ul li button {
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 17.14px;
  font-family: "gilroy-light";
}

.greenBackground {
  background-color: #84ac89;
}

.banner-slider {
  width: 1005px;
}

@media all and (max-width: 767px) {
  .bestSeller {
    display: none !important;
  }
}
.best-seller-mobile {
  display: none;
}

@media all and (max-width: 767px) {
  .best-seller-mobile {
    display: block;
    background: #f4f4f4;
    padding: 25px 10px 40px 10px;
  }
  .best-seller-image {
    min-height: 330px;
    max-width: 250px;
    background-size: cover !important;
    border-radius: 20px;
  }
  .best-seller-container {
    max-width: 250px;
    margin: 0 10px 0 10px;
  }
  .best-seller-content-container {
    text-align: center;
    padding-top: 20px;
  }
  .best-seller-content-container button {
    position: relative;
    padding: 0.5rem 3rem 0.5rem 1rem;
  }
  .best-seller-title {
    font-family: "gilroy-medium";
    font-size: 18.21px;
    margin-bottom: 15px;
  }
  .best-seller-content {
    font-size: 15px;
    font-family: "gilroy-regular";
  }
  .best-seller-price {
    font-family: "gilroy-bold";
    font-size: 22.54px;
    color: #1e53a0;
    margin-bottom: 16px;
  }
}